RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
# redireciona quando da erro 404
ErrorDocument 404 http://%{HTTP_HOST}/advocacia/pages/not-found.php